<!-- <div class="jumbotron sub-header">
    <h2>Contact Us</h2>
</div> -->
<div class="container">
    <h2 class="page-header"> Contact Us </h2>

    <div class="whitebg">
        <!--Start Faq Appointment area-->
        <section class="faq-appointment-area sec-pd-one">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <div class="faq-content-box">
                            <div class="sec-title">
                                <!-- <span>Visit Us</span> -->
                                <div class="border"></div>
                                <h1>Our Address</h1>
                            </div>
                            <div class="accordion-box">
                                <!--Start single accordion box-->
                                <div class="accordion accordion-block">
                                    <div class="accord-btn">
                                        <h4> Shri Aatm Vallabh Jain Girls College, SriGanganagar</h4>
                                    </div>
                                    <p>
                                        <br>Shiv Nagar
                                        <br>Sri Ganganagar
                                        <br>Rajasthan 335001, INDIA</p>
                                </div>

                                <!--End single accordion box-->
                                <div class="accordion accordion-block">
                                    <div class="accord-btn">
                                        <h4>Email : ruchisinghal0396@gmail.com</h4>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="faq-2"></div> -->
                        </div>
                    </div>
                    <div style="padding-left:0px" class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <div class="appointment-box">
                            <div class="sec-title">
                                <!-- <span>For Enquiry</span> -->
                                <!-- <div class="border"></div>  -->
                                <h3>If any, Query</h3>
                            </div>
                            <form (submit)="onSubmit()">
                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-form-field class="full-width">
                                            <input matInput type="text" [(ngModel)]="name" name="name" placeholder="Name" required>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-form-field class="full-width">
                                            <input matInput type="email" [(ngModel)]="email" name="email" placeholder="Email" required>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-form-field class="full-width">
                                            <input matInput type="text" [(ngModel)]="city" name="city" placeholder="City">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-form-field class="full-width">
                                            <input matInput type="text" [(ngModel)]="title" name="title" placeholder="Query Title">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-form-field class="full-width">
                                            <textarea matInput [(ngModel)]="message" name="message" placeholder="Description" required></textarea>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button mat-raised-button value="submit" color="primary" type="submit">Send</button>
                                    </div>
                                </div>


                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Faq Appointment area-->
        <div class="row">
            <div class="container-fluid">
                <div class="map">
                    <iframe src=<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13834.956799057496!2d73.8915539!3d29.9006145!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4307513d3eea0e22!2sJain+Girls+College!5e0!3m2!1sen!2sin!4v1526902557024" width="100%"
                        height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <div class="col-md-12"></div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="row last">
                            <div class="col-md-12">
                                <div class="container">
                                    <div class="lastUpdate pull-right">
                                        Last Update: May 08, 2018
                                    </div>
                                </div>
                            </div>
                        </div> -->